@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');

header{
    padding: 40px 0px 0 50px;
    
}
body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/paisagem.jpg);
    background-color: #e0c4fc; background: -moz-linear-gradient(to bottom,  #e0c4fc 0%,#90c6fd 100%); background: -webkit-linear-gradient(to bottom,  #e0c4fc 0%,#90c6fd 100%); background: linear-gradient(to bottom,  #e0c4fc 0%,#90c6fd 100%);
    
}

.titulo{
    font-size: 50px;
    text-align: center;
    font-family: 'Crimson Text', serif;
    padding-top: 100px;


    
    
    
}

.botao_iniciar{
    text-align: center;
    padding-top: 10px;
    
   
}



